.header .advanced-form-search { width:345px; height:30px; background:url("../../images/mec/bkg_form-search.gif") 0 0 no-repeat; padding:1px 0 0 16px; }
.header .advanced-form-search span .categories-options { float:left; width:45px; margin-right:1px; }
.header .advanced-form-search label { float:left; width:24px; height:21px; text-align:left; text-indent:-999em; overflow:hidden; }
.header .advanced-form-search input.input-text { float:left; border-color:#5c7989; width:209px; margin-right:4px; }
.header .advanced-form-search button.button { float:left; }
.header .advanced-form-search button.button span { border:0; height:21px; background:url("../../images/mec/btn_search.gif") 0 0 no-repeat; padding:0 0 0 3px; font:bold 11px/21px Tahoma, Verdana,
Arial,
sans-serif; }
.header .advanced-form-search button.button span span { background-position:100% 0; padding:0 6px 0 3px; }
.header .advanced-form-search .search-autocomplete { z-index:999; left:40px !important; top:22px !important; }
.header .advanced-form-search .search-autocomplete ul { border:1px solid #5c7989; background-color:#f9f5f0; }
.header .advanced-form-search .search-autocomplete li { text-align:left; border-bottom:1px solid #f4eee7; padding:2px 8px 1px 8px; cursor:pointer; }
.header .advanced-form-search .search-autocomplete li .amount { float:right; font-weight:bold; }
.header .advanced-form-search .search-autocomplete li.odd { background-color:#fffefb; }
.header .advanced-form-search .search-autocomplete li.selected { background-color:#f7e8dd; }