<?xml version="1.0"?>
<config>
  <modules>
    <Mec_Lilyaddon>
      <version>0.1.0</version>
    </Mec_Lilyaddon>
  </modules>
  <global>
    <helpers>
      <lilyaddon>
        <class>Mec_Lilyaddon_Helper</class>
      </lilyaddon>
    </helpers>
	<models>
	  <lilyaddon>
		<class>Mec_Lilyaddon_Model</class>
		<resourceModel>lilyaddon_mysql4</resourceModel>
	  </lilyaddon>
	</models>
	<resources>
	  <customerattribute1377574537_setup>
		<setup>
		  <module>Mec_Lilyaddon</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1377574537_setup>
	  <customerattribute1377574537_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1377574537_write>
	  <customerattribute1377574537_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1377574537_read>
	</resources>
  </global>
</config> 