@charset "utf-8";
/* * Lily club
* zx 2014 06 09 */

/**/
* {max-height: 5000em;}
.club{background: #f3dedd;}
.page_club{padding: 120px 0 50px 0;background: #f3dedd;font-size:14px;}
.page_club input {background:none;border:1px solid #000;}
.page_club>div {opacity:0;}
.page_club a:hover {text-decoration: underline;}
.club_tit,.page-title h1{font-size: 60px;line-height:68px;text-transform:uppercase;text-align: center;padding:0 0 50px;}
.club_tit .small {font-size:40px;}
.club_bottom_nav {text-align: center;margin-top:50px;}
.club_bottom_nav li {display: inline-block;margin:0 10px;}
.club_login{}
.club_login_tit{}
.club_login_txt{}
.club_login_txt p{font-size: 24px;text-transform:uppercase;line-height: 50px}
.club_login_regbtn{display: block;background: #000;color:#fff;width: 194px;height: 48px;line-height: 48px;margin:60px auto 20px;text-align: center;}
.club_login_regtxt{text-align: center;}
.club_login_form{}
.club_login_ipt{float: left;width: 150px;height: 40px;border:#000 solid 1px;padding:0 16px;display: inline;margin: 0 20px 0 0;font-size: 14px;color:#000;font-family:arial;background: #f3dedd}
.club_login_sub{width: 130px;height: 48px;border:#000 solid 1px;color:#fff;background: #000!important;display: block;margin: 20px 0 0 120px;font-size: 14px;}
.club_login_formlink{width: 148px;float: left;display: inline;margin: 10px 0 0 42px}
.club_login_wrap {width:1000px;margin:0 auto;}
.club_login_title {font-size:24px;font-weight:bold;margin-bottom:15px;}
.club_login_offline {margin:0 0 15px 0;}
.club_login_left {float:left;}
.club_login_right {float:right;width:370px;}
.product-essential {padding:0!important;}

.page_club .cart,.page_club .points_checkout {float:left;width:861px;}

/**/
.club_delivery_txt{width: 800px;margin: 0 auto;text-align: center;line-height: 30px}
/**/
.club_exchange_txt{width: 800px;margin: 0 auto;text-align: center;line-height: 30px}
.club_exchange_txt p{margin:0 0 30px ;}
.club_exchange_list{background: #000;display: inline-block;width: 10px;height: 10px;margin:0 10px}
/**/
.club_member_form{width: 530px;margin: 100px auto}
.club_member_form .validation-advice {display: none;}
.club_member_sub{cursor:pointer;width: 308px;height: 48px;border:#000 solid 1px;color:#fff;background: #000;display: inline;margin: 30px auto;display: block;}
.club_member_sub2 {margin:0;width:auto;padding:0 10px;height:42px;}
.club_member_sub:hover {opacity:0.8}
.club_memberreg{width: 800px;margin: 30px auto 0 auto}
.club_memberreg_fi{margin: 0 0 10px }
.club_memberreg_fi label {float:left;width:120px;margin:4px 10px 0 0;color:#000;text-align:right;}
.club_memberreg_edm {padding:0 0 0 131px;}
.club_memberreg_fi .club_login_ipt{margin:0 auto;display:inline-block;float:none;}
.club_memberreg_fi .club_login_ipt_short {width:80px;}
.club_memberreg_fi{position: relative;}
.club_memberreg_tips{position: absolute;left:350px;line-height: 48px;top:0;width:300px}
.club_memberreg_seltxt{width: 200px;height: 46px;border:#000 solid 1px;padding:0 16px;margin: 0 auto;color:#000;font-family:arial;background: #f3dedd;line-height: 46px;background: url('../images/club_memberreg_sel.png') no-repeat 94% 50%;}
.club_memberreg_sel{position: absolute;width: 232px;height: 46px;display: block;top: 1px;left:38px;opacity: 0;filter:alpha(opacity=0);cursor: pointer;}
.club_member_forget{width: 308px;margin: 0 auto 0 auto;text-align:center;}
.club_member_forget .club_memberreg_fi {margin-top:20px;}
.club_member_forget .fieldset {margin:0;padding:0;}
.club-rule-content .club_login_txt {width:500px;margin:0 auto;text-align: center;}
/**/
.club_member_rule{text-align: center;margin: 0 auto;width: 860px}
.club_member_rule h4{text-transform:uppercase;margin: 80px 0 40px;font-size:24px;}
.club_member_table{width: 100%;margin:0 0 80px;}
.club_member_table th{text-transform:uppercase;text-align: center;background:#dac7c7;}
.club_member_tableline{border-bottom:#000 solid 1px;}
.club_member_table td,
.club_member_table th{padding: 18px}
.club_member_table2{width:430px;display: block;margin: 0 auto;}
.club_member_rulelink{border:none;display: block;width: 320px;height: 48px;background: #000;text-align: center;font-size:18px;line-height: 48px;color:#fff;margin: 80px auto 20px}
/**/
.club_QA_txt{width: 830px;margin: 0 auto;text-align: center;line-height: 36px;font-family:"Microsoft Yahei",arial,SimHei,sans-serif}
.club_QA_txt p{margin: 0 0 50px;}
/**/

.club_ecoupon_txt{text-align: center;margin:0 0 15px 0;}
.club_ecoupon_center{padding: 10px 0 0 0;width:1105px;margin:0 auto;}
.club_ecoupon_nav{width:240px;float: left;font-size:18px;line-height: 150%;}
.club_welcome{font-weight: bold;}
.club_logout{width: 122px;height: 48px;background:#000;color:#fff;display: block;line-height: 48px;text-align: center;font-weight: bold;margin: 15px 0 90px 0;}
.club_navlist a{height: 35px;display: block;}
.club_navlist .on{text-decoration: underline;}
.club_ecoupon_com{float: left;width: 800px;}
.club_ecoupontable{width: 100%;margin-top: 150px;}
.club_ecoupontable th{border-bottom: #000 solid 1px;}
.club_ecoupontable th,.club_ecoupontable td{text-align: center;line-height: 48px;}
.back-link {display: none;}
/**/
.club_giftcards{padding:150px 0 0 55px;text-align: center;width: 600px}
.club_giftcardsbtn{margin: 50px auto;display: block;color:#fff;background: #000;width: 308px;height: 48px;line-height: 48px}
.club_giftcard{width: 860px;padding:0}
.club_giftcardtable{width: 100%;}
.club_giftcardtable th{background:#d9c7c6;padding: 10px 20px;font-weight: normal;text-transform:uppercase;}
.club_giftcardtable td{border-bottom:1px solid #040000;text-align: center;padding: 20px}
.club_giftcardtable tfoot td {border:none;}
#shopping-cart-table.club_giftcardtable td {padding:10px;}
.club_giftcardtable .product-title {text-align: left;vertical-align: middle;}
.club_giftcardtable .product-name a {font-size:14px;text-decoration: none;}
.club_giftcardtable .product-imgs img {margin:0 5px;-webkit-box-shadow: 5px 5px 0 0 #d9c6c5;box-shadow: 5px 5px 0 0 #d9c6c5;}
.club_giftcardtable a{text-decoration: underline;}
.club_giftcardtable .product-image {float:left;}
.club_giftcardtable .wishlist-content {float:left;text-align:left;margin:0 0 0 10px;}
.club_giftcardtable .remove-text {font-size:18px;text-decoration:none;}
.club_giftcardtable .remove-text img {vertical-align: middle;}
.club_giftcardcheckout{width: 152px;height: 48px;background: #000;color:#fff;text-align: center;line-height: 48px;float: right;margin: 80px 40px}
.club_giftcardimg2{padding-right: 200px}
.cart-table .btn-continue,.cart-table .btn-continue span {border:none;text-align:left;padding:0;}
button.btn-checkout {border:none;float:right;}
button.btn-checkout span {border:none;background:#000;color:#fff;height: auto;line-height: auto;}
button.btn-checkout span span {padding:5px 25px 5px 25px;display:block;}
.cart-table .btn-continue {border-bottom:2px solid #000;padding:0 0 5px 0;}
.cart .cart-collaterals {padding:0;margin:0 0 0 23px;font-size:12px;}
/**/
.club_giftcardtable .club_memtr1{padding-right: 180px}
/**/
.club_meminfo{width: 865px;}
.club_meminfolist{padding-left:30px;}
.club_meminfolist ul{float: left;width: 420px}
.club_meminfolist .club_meminfolist2{width: 300px}
.club_meminfolist1 li{width: 420px;overflow: hidden;float: left;padding-bottom: 30px}
.club_meminfolist2 li{width: 300px;overflow: hidden;float: left;padding-bottom: 30px}
.club_meminfolist li span{float: left;width: 150px;}
.club_meminfolist li strong{float: left;width: 210px;}
.club_meminfolist input {background:none;border:1px solid #000;padding:4px;}
.club_meminfolist button {background:#000;color:#fff;border:none;padding:4px;}
.club_meminfolist2 li strong{float: left;width: 130px;}
.club_meminpw{padding:20px 0 0 30px;}
.club_meminpwform{margin: 30px 0;}
.club_meminpwform input{background:none;width: 200px;padding: 0 15px;border:#000 solid 1px;line-height: 48px;height: 48px;float: left;display: inline;margin-right:30px; }
.club_meminpwform .club_meminpwsub{width: 134px;height: 48px;background: #000;color:#fff;text-align: center;line-height: 48px;display: block;margin: 30px 0;cursor: pointer;font-size: 14px}
/**/
.club_navlist_gogift{width: 185px;height: 48px;background: #000;color:#fff;text-align: center;line-height: 48px;display: block;margin: 20px 0;}
.club_opening_time {margin-top:200px;font-size:14px;}
/**/
.club_point{width: 860px;}
.club_pointexnav{border-bottom: #000 solid 1px;padding:12px 10px 12px 28px;}
.club_pointexnavtit{float: left;}
.club_pointexfilter{float: right;}
.club_pointexfiltertit{float: left}
.club_pointexselbox{float: left;padding:0 0 0 20px;position: relative;}
.club_pointexselbox span{background: url('../images/club_memberreg_sel.png') no-repeat 80% 50%;display: block;width: 100px;padding:0 0 0 10px;}
.club_pointexselbox select{width: 100px;position: absolute;top: 0;left:24px;opacity: 0;filter:alpha(opacity=0);cursor: pointer;}
.club_pointimglist{padding-left:4px;}
.club_pointimglist li{float: left;display:inline;margin: 18px 0 0 24px;height:186px;}
.club_pointimglist .product-name {font-size:0.9em;line-height: 100%;margin:5px 0 0;}
.club_pointimglist .product-attr {font-size:0.9em;}
.club_club_pointproimg{float: left;width: 540px;}
.club_club_pointproinfo{float: left;width: 320px}
.club_club_pointprolist{padding:20px 0 0;}
.club_club_pointprolist .club_img{float: left;display: inline;margin: 0 20px 0 0}
.club_img img {
	width:135px;
	height:135px;
}
.club_club_pointproinfo{}
.club_club_pointproinfo li{width: 320px;float: left;padding:0 0 30px;}
.club_club_pointproinfo span{float: left;width: 160px;}
.club_club_pointproinfo div{float: left;width: 160px}
.club_club_pointselbox{position: relative;}
.club_club_pointselbox strong{width: 100px;background:url('../images/club_memberreg_sel.png') no-repeat 80% 50%;display: block;}
.club_club_pointselbox select{position:absolute;top: 0;left:0px;opacity: 0;display: block;width:90px}
.club_club_pointprobtn{background: #000;color:#fff;line-height: 48px;height: 48px;width: 192px;display: block;text-align: center;}
.club_pointintro{font-size: 14px;padding:20px 0 0;line-height: 30px}
.club_pointintro h3{font-size: 18px;padding:50px 0 0;height: 42px;text-transform:uppercase;}

.form-before li {font-size:24px;width:215px;height:65px;line-height:65px;background:#dac8c7;}
.form-before li span {font-size:18px;}
.form-before li.step1 {background:url('../images/step1.gif') no-repeat left;}
.form-before li.step4 {background:url('../images/step4.gif') no-repeat right;}
.checkout-cart-index .form-before li.step2 {background:url('../images/step_actived.gif') no-repeat;}

.club_img{display: block;width: 140px;padding:3px 0 0 3px;position: relative;margin: 0 auto}
.club_img img {-webkit-box-shadow: 5px 5px 0 0 #d9c6c5;box-shadow: 5px 5px 0 0 #d9c6c5;}
.club_imgtxt{text-align: center;;width: 140px;top:30px;left:0;position: absolute;}
.club_img2{display: block;background: url('../images/club_phobg2.gif') no-repeat;width: 469px;height: 340px;padding:3px 0 0 3px;position: relative;margin: 0}
.club_img2 img{width:446px;height: 319px }
.club_img2 .club_imgtxt{display: none}

.page-logout {text-align: center;padding:100px 0 100px 0;}
.product-shop .product-attr-name,.product-shop .attribute-title {float:left;width:140px;}
.product-shop .product-attr-val {font-weight: bold;}

#query_status {background:#000;}
#query_status span {color:#fff;padding:0;font-size:14px;line-height:100%;margin:0 0 0 10px;padding:5px 10px;}

.club_article_center {width:1000px;margin:0 auto;}

.club_getactivate {width:350px;margin:0 auto;text-align: center;}
.club_getactivate_title {font-size:24px;font-weight:bold;margin:75px 0;}
.club_getactivate .form-list label {float:left;width:80px;}
.club_getactivate .form-list .input-box {float:left;clear:none;text-align:left;width:auto;}
.club_getactivate .form-list .input-box input {border:1px solid #000;background:none;width:150px;}
.club_getactivate .fieldset {padding:0;margin:0;}
.club_getactivate .buttons-set {margin:0 0 0 78px;}
.club_getactivate .buttons-set button.button {float:left;background:#000;color:#fff;padding:10px 25px;font-size:14px;}
.club_getactivate .countdown {float:left;margin:5px 0 0 10px;}
.club_getactivate .getactivate-form {margin:0 0 0 45px;}
.club_getactivate .buttons-set p.required {display:none;text-align:left;}

.product-image #wrap {display:block;width:480px;height:480px;min-height:0;overflow:hidden;}
/* Mobile Used
================================================================================================= */
.dis_mobile { display: none }
.club_ecoupon_nav_m {display:none;}
@media screen and (max-width:640px) {
	.dis_mobile { display: block }
    .wrap {margin:0!important;}
	.footer{display: none}
	.page{margin-bottom:0;}
    .page_club {font-size:18px;}
    .club_tit{font-size: 72px;line-height: 72px}
    .club_exchange_txt,
    .club_ecoupon_center,
    .club_QA_txt,
    .club_login_txt,
    .club_member_rule,
    .club_giftcards,
    .club_delivery_txt{width:420px;font-size: 20px;margin: 0 auto}
    .club_login_txt {margin:0;}
    .club_member_table td, .club_member_table th{padding:10px 5px;}
    .club_ecoupon_nav{position: absolute;top: 0;left:0;display: none}
    .club_member_sub{font-size: 18px;width: 334px}
    .club_memberreg_tips{display: none}
    .club_memberreg_seltxt,
    .club_login_ipt{width: 300px}
    .club_memberreg_sel{width: 332px;left:2px}
    .club_login_form{width: 400px}
    .club_login_ipt{float: none;display: block;margin: 0 0 15px 0;}
    .club_login_sub{float: none;display: block;margin: 0  ;width: 334px;font-size: 18px}
    .club_login_formlink{font-size:18px;width: 334px;margin: 20px 0;float: none;display: block;}
    .club_login_regbtn{width: 334px;}
    .club_login_regtxt{font-size: 18px}
    .club_ecoupon_center,
    .club_giftcards{padding-left:0;}
    .club_ecoupon_com{float: none;margin: 0 auto}
    .menu{left:0;top:30px;width: 70px;height: 70px}
    .loading,
    .search,
    .language{display: none}
    .mobile_nav{position:fixed;top: 30px;left:102px;font-size: 18px;color:#fff;height: 70px;line-height: 70px;width: 436px;padding:0 25px;background:#000 url('../images/mobile_nav.gif') no-repeat 450px 50%;cursor: pointer;z-index: 300}
    .mobile_nav:hover .mobile_navbox{display: block;}
    .mobile_navbox{position: absolute;width: 486px;background: #fff;left:0;top: 70px;line-height: 60px;display: none}
    .mobile_navbox a{display: block;padding:0 25px;}
    .mobile_navbox strong{padding-top:20px;display: block;}

    .club_mobilecardimg{float: left;margin-top:10px;}
    .club_img,
    .club_mobilecardimg .club_img{background:none;width: 253px;margin: 0}
    .club_img img,
    .club_mobilecardimg img{width:238px;height: 238px}
    .club_pointimglist li {height:auto;}
    .club_pointimglist .product-name,.club_pointimglist .product-attr {font-size:18px;}
    .club_imgtxt{width: 250px;top:75px;}
    .mobile_proinfor{float: right;width: 238px;line-height: 30px}
    .mobile_proitem {width: 520px;margin-top:50px;}
    .mobile_proinfortit{padding-top:5px;text-transform: uppercase;}
    .mobile_proinfor a{text-decoration: underline;}
    .club_giftcardcheckout{float: none;display: block;margin: 80px auto 0}
    .club_giftcard{width: 600px;}
    .club_ecoupon_center,
    .club_point{width: 580px}
    .club_pointexnav{display: none;}
    .club_ecoupon_center{padding: 0}
    .club_point table span.title {width:250px;}
    .club_point table td {padding:5px;}

    .club_meminfolist ul{float: none}
    .club_meminpwform input{float: none;display: block;margin-bottom:20px;}

    .club_login_wrap {width:auto;}
    .club_login_left {float:none;width:443px;margin:0 auto;}
    .club_login_right {float:none;width:443px;margin:20px auto 0 auto;}
    .club_login_regbtn {margin:20px 0 0 0;}

    .product-view .product-img-box {width:90%;margin:0 0 20px 5%;float:none;}
    .product-view .product-shop {float:none;width:auto;clear:both;padding:20px 0 0;}


    .header {height:0!important;}
    .club_ecoupon_nav_m {display:block;position: fixed;top:12px;left:20%;width:70%;font-size:20px;}
    .club_welcome_m {background:#000;color:#fff;font-weight:bold;height:100px;line-height:100px;padding:0 40px;}
    .club_navlist_m {display:none;background:#fff;padding:20px 0 20px 40px;color:#000;}
    .club_navlist_m.open {display:block;}
    .club_navlist_m a {display:block;margin:15px 0;}
    .club_logout_m {margin-top:40px;font-weight:bold;}

    .club_memberreg_fi_code .club_memberreg_tips {left:390px;display:block;}
    .club_memberreg_fi_code .club_login_ipt {width:200px;}
    .club_memberreg_fi_code .club_member_sub {width:184px;}
    .club_memberreg_fi .club_login_ipt_address {margin:10px 0 0 130px;}
}
