/* Mobile */
@media only screen and (max-height:660px)
{
    .home_img1 img {max-width:53%;}
}

@media only screen and (max-width:3000px){
}
@media only screen and (max-width:1920px){
    #wrap .page .limit.event_list {width:1328px;}
    #wrap .page .limit.job_list {width:1270px;margin:0 auto;}
}
@media only screen and (max-width:1450px){
    .event_item {margin:0 15px;}
    #wrap .page .limit.event_list {width:1233px;}
    .job_item {margin:0 15px;}
    #wrap .page .limit.job_list {width:1233px;}
    .ss_row3 .left {margin-left:-14%;}
}

@media only screen and (max-width:1350px){
    .event_item {margin:0 80px;}
    #wrap .page .limit.event_list {width:1084px;}
    #nav li.item {width:150px;}
    .job_item {margin:10px 80px 40px 80px;}
    #wrap .page .limit.job_list {width:1084px;margin:0 auto;}
    .page_campaign .cp-model .right  {margin-top:100px;}
    .ss_row3 .left {margin-left:-14.5%;}
}

@media only screen and (max-width:1220px){
    .weibo_wblogo {margin:0;}
    .weibo_wbcom {padding:20px 30px}
}


@media only screen and (max-width:1150px){
    .ss_row1 .streetshot_right,.ss_row1 .lookbook_right {margin-right:-13.5%;}
    .page_campaign .cp-model .right  {margin-top:50px;}
    .ss_row3 .left {margin-left:-15%;}
}

@media only screen and (max-width:1050px){
    .event_item {margin:0 20px;}
    #wrap .page .limit.event_list {width:840px;}
    #nav li.item {width:130px;font-size:12px;}
    #nav li.item h2 {padding:25px 0 0 0;margin:0 0 0 20px;display:inline-block;}
    .ipad #nav li.item h2 {padding-top:45px;}
    #nav li ol {padding:56px 0 20px 20px;}
    .ipad #nav li ol {padding-top:6px;}
    .language a {font-size:12px;}
    .job_item {margin:10px 43px 40px 43px;}
    #wrap .page .limit.event_list {width:840px;}
    #wrap .page .limit.job_list {width:910px;margin:0 auto;}
    .ss_row3 .left {margin-left:-15.5%;}

    #nav li.item {width:118px;}
    .language {top:23px;}
    .search {top:28px;}
    .club_login_wrap {width:900px;}
    .club_article_center {width:900px;}
    .club_navlist_gogift {width:120px;}
    .club_ecoupon_nav {font-size:14px;}
    .club_ecoupon_center {width:900px;}
    .club_ecoupon_nav {width:160px;}
    .club_meminfo {width:740px;}
    .club_meminpwform input {width:169px;}
    .club_meminfolist ul {width:360px;}
    .club_meminfolist1 li {width:360px;}
    .club_meminfolist li strong {width:180px;}
    .club_point {width:740px;}
    .club_ecoupon_com {width:740px;}
    .toolbar-bottom {width:740px;}
    .product-view .product-shop {width:208px;}
    .product-shop .product-attr-name, .product-shop .attribute-title {width:100px;}
    .attributes_choose .validation-advice {margin:0px 0 10px 97px;}
    .page_club .cart, .page_club .points_checkout {width:740px;}
    .form-before {padding:0;transform:scale(0.88);-moz-transform:scale(0.88);-webkit-transform:scale(0.88);-o-transform:scale(0.88);
        transform-origin:0 0;-moz-transform-origin:0 0;-webkit-transform-origin:0 0;-o-transform-origin:0 0;}


    .password-title {float:left;width:232px;}
    /*.product-view .product-img-box {width:410px;}*/
    /*.product-img-box .product-image img {width:300px;height:300px;}*/
    /*.jcarousel-skin-tango .jcarousel-container-horizontal {padding:20px 22px;}*/
}


@media only screen and (max-width:900px){
    .ss_row1 .streetshot_right,.ss_row1 .lookbook_right {margin-right:-13%;}
    #nav li.item {width:130px;font-size:12px;}
    #nav li.item h2 {padding:25px 0 0 0;margin:0 0 0 15px;}
    #nav li ol {padding:56px 0 20px 15px;}
    .language a {font-size:12px;}
    .job_item {margin:10px 43px 40px 43px;}
    #wrap .page .limit.event_list {width:924px;}
    #wrap .page .limit.job_list {width:910px;margin:0 auto;}
    .ss_row3 .left {margin-left:-16%;}
}

@media screen and (max-width:640px){
    #nav {display: none;}
    .menu {display:block;width:102px;height:102px;}
    .search {right:30px;}
    .language {right:78px;}
    .search{background: url('../images/hdicon_m.png') no-repeat -146px 0;
    width: 70px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 42px;}
    .language a {font-size:24px;width:64px;}
    .job_item{display:block;margin:0 auto 50px auto;width:100%;}
    .event_item{display:block;margin:0 auto;width:100%;}
    .page {margin-bottom: 0px;}
    .page .left,
    .page .right{float:none;}
    .page_home .left {width:auto;margin:0;}
    .page_home .right {width:auto;margin:0;}
    .btnlink {height:60px;line-height: 60px;font-size:22px;}
    .home_lookbook{margin-top:5%;}
    .page_home #brand_story .right {width:100%;}
    .job_itemtxt {font-size:16px;line-height: 150%;}
    .home_img1 {margin:5%;}
    .home_img1 img {margin:0;max-width:100%;width:100%;}
    .home_img2 {margin:5%;}
    .home_img2 img {margin:0;max-width:100%;width:100%;}
    .home_img3 {margin:5%;}
    .home_img3 img {margin:0;max-width:100%;width:100%;}
    .home_brand .left {max-width:none;float:none;padding:0 30px;}
    .weibo {display: block;padding-top:0;margin-top:-20px;}
    #links #nav li.item{display:block;text-align:center;margin:5% auto;height:auto;}
    #wrap .page .limit{margin-left:auto;margin-right:auto;padding-left:7%;padding-right:7%;}
    #wrap .page .limit.home_new {padding-right:10%;}
    .btnlink {width:174px;}
    .home_new_cn{background-size:contain;font-size:23px;}
    .home_brand_txt {font-size:20px;}
    .weibo_wbbox{width:100%;height:400px;position: relative;font-size:20px;}
    .weibo_wbbg{display: none;}
    .weibo_wb_btn{margin:0 auto;text-align:center;}
    .videowrap{text-align:center;}
    .videowrap img{max-width:100%;}
    .footer .ft_list,
    .footer .ft_touch{display:block;text-align:center;margin:8% auto;float:none;}
    .menu{background-image:url('../images/mobilemenu.png');background-size:contain;}
    /* milestone page */
    .page_heritage .limit{width:auto;margin:14px 0;}
    .page_heritage .ha_modtxt {width:auto;padding:0 20px;margin:0 0 30px 0;}
    .page_heritage .ha_modtxt h2{font-size:40px;padding-bottom:0;margin:0 0 20px 0;}
    .page_heritage .ha_modtxt h3{font-size:18px;padding:0 0 10px;}
    .page_heritage .ha_modR{margin:0;}
    /* news page */
    .page_event .event_list{width:auto;}
    .page_event .event_look{width:auto;text-align:center;}
    #wrap .page .limit.event_list {width:auto;}
    .event_img {width:518px;height: 383px;}
    .event_img img {left:0;width:518px;height: 383px;}
    .event_img p {width:518px;height: 383px;top:20px;left:20px;}
    /* campaign page */
    .page_campaign{margin-top:12%;}
    .page_campaign .limit{text-align:center;}
    .page_campaign .cp_modtxt,
    .page_campaign .cp_season,
    .page_campaign .cp_tit{width:auto;}
    .page_campaign .wrap img{width:100%;}
    .page_campaign .list {margin-right:0;}
    .page_campaign .list img {width:30%;}
    .page_campaign .cp-top .right {float:none;width:auto;margin:0;}
    .page_campaign .cp-top .left {float:none;width:auto;margin:0;}
    .page_campaign .cp-ground .left {float:none;width:auto;margin:0;text-align: left;}
    .page_campaign .cp-ground .right {float:none;width:auto;margin:0;}
    .page_campaign .cp-model .left {float:none;width:100%;margin:0;}
    .page_campaign .cp-model .right {float:none;width:auto;margin:0;text-align: left;}
    .page_campaign .cp-top .cp_tit, .page_campaign .cp-top .cp_season {font-size:24px;}
    .cp_img_size1,.cp_img_size2,.cp_img_size3 {width:100%;}
    .page_campaign .cp-mo1 img {margin:0 0 18px 0;}
    .page_campaign .cp-mo1 .row3 {margin:0;}
    .page_campaign .cp-mo1 .row3 .cp_img {margin:0;padding:0;}
    .page_campaign .cp-mo1 .row2 {margin:0;}
    .page_campaign .cp-mo1 .row2 .cp_img_size2 {margin:0;}
    .page_campaign .cp-mo2 {margin:5% 7%;}
    .page_campaign .cp-mo3 .row2 .cp_img {margin:0;}
    .page_campaign .cp-mo3 .row3 .cp_img {margin:0;}
    .page_campaign .cp-mo3 .row4 .cp_img {margin:0;}
    .page_campaign .cp-mo1 .row1 .cp_blacktit {float:none;}
    .cp_blacklink {margin-left:-125px;}
    .cp_blacktit {width:auto;font-size:22px;height:90px;line-height: 90px;display:block;margin:0 0 10px 0;}
    /* lookbook / streetshot */
    .streetshot .limit,
    .page_lookbook .limit{text-align:center;}
    .streetshot .limit .lb_tit,
    .streetshot .limit.lb_modtit,
    .streetshot .limit img,
    .page_lookbook .limit .lb_tit,
    .page_lookbook .limit.lb_modtit,
    .page_lookbook .limit img{width:100%;}
    .streetshot .limit.list img,
    .page_lookbook .limit.list img{max-width:100%;margin:5% auto;}
    .streetsnap .limit .lb_modtit, .page_lookbook .limit .lb_modtit {width:auto;}
    .ss_group_top .ss_row1 .left {margin:30px 30px 0;float:none;width:auto;}
    .streetsnap .limit .lb_tit, .page_lookbook .limit .lb_tit {width:auto;}
    .ss_row1 .left {width:auto;float:none;}
    .ss_row1 .lookbook_right {float:none;margin:0;width:auto;}
    .ss_row1 .streetshot_right {float:none;margin:0;width:auto;}
    .ss_row2 .ss_list {margin:0;text-align: center;}
    .streetsnap .limit.list img, .page_lookbook .limit.list img {max-width: 30%;margin-left:1%;}
    .ss_row3 .left {width:auto;margin:0;float:none;}
    .ss_row3 .left img {width:100%;}
    /* page storelocator */
    .page_storelocator{margin-top:60px;}
    .page_storelocator .store_additem{float:none;width:auto;}
    .stores p {font-size:20px;}
    /* page starshop */
    .page_starshop{margin-top:60px;}
    .page_starshop .limit .desc{float:none;width:100%;}
    .page_starshop .limit img{float:none;width:100%;}
    /* job */
    #wrap .page .limit.job_list {width:auto;}
    /* privacy */
    .page_privacy{padding:80px 10%;}
    .page_privacy .privacy_tit.mobile{display:block;font-size:40px;line-height:1em;}
    .page_privacy .privacy_tit.mobile h2{margin:5% auto;font-size:20px;}
    .page_privacy .privacy_com{width:auto;}
    .ft_com{width:auto;font-size:14px;}
    .ft_list {width:auto;line-height: 160%;}
    .ft_list h2 {font-size:27px;margin:0 0 10px 0;}
    .ft_links{float:none;width:auto;text-align:center;margin:0;}
    .search_popup {width:600px;margin-left:-300px;}
    .search_popup .search_input {width:350px;}
    .footer {line-height: 20px;position: relative;}
    .cs-height-footer {height:0;display: none;}

    .messages {
        width: 80%;
    }



    body,html {background: #f3dedd!important;}
    .dis_mobile { display: block }
    .wrap {margin:0!important;}
    .footer{}
    .footer .ft_list li {display:block;margin:0 auto;}
    .page{margin-bottom:0;padding-top:140px;}
    .page_club {font-size:18px;}
    .club_tit{font-size: 72px;line-height: 72px}
    .club_exchange_txt,
    .club_ecoupon_center,
    .club_QA_txt,
    .club_login_txt,
    .club_member_rule,
    .club_giftcards,
    .club_delivery_txt{width:420px;font-size: 18px;margin: 0 auto}
    .club_login_txt {margin:0;}
    .club_member_table td, .club_member_table th{padding:10px 5px;}
    .club_ecoupon_nav{position: absolute;top: 0;left:0;display: none}
    .club_member_sub{font-size: 18px;width: 334px}
    .club_memberreg_tips{display: none}
    .club_memberreg_seltxt,
    .club_login_ipt{width: 300px}
    .club_memberreg_sel{width: 332px;left:2px}
    .club_login_form{width: 400px}
    .club_login_ipt{float: none;display: block;margin: 0 0 15px 0;}
    #login-form .club_login_ipt {width:387px;}
    .club_login_sub{float: none;display: block;margin: 0 ;width: 419px;font-size: 18px}
    .club_login_formlink{font-size:18px;width: 334px;margin: 20px 0;float: none;display: block;}
    .club_login_regbtn{width: 419px;}
    .club_login_regtxt{font-size: 18px}
    .club_ecoupon_center,
    .club_giftcards{padding-left:0;}
    .club_ecoupon_com{float: none;margin: 0 auto}
    .menu{left:0;top:30px;width: 70px;height: 70px}
    .loading,
    .search,
    .language{display: none}
    .mobile_nav{position:fixed;top: 30px;left:102px;font-size: 18px;color:#fff;height: 70px;line-height: 70px;width: 436px;padding:0 25px;background:#000 url('../images/mobile_nav.gif') no-repeat 450px 50%;cursor: pointer;z-index: 300}
    .mobile_nav:hover .mobile_navbox{display: block;}
    .mobile_navbox{position: absolute;width: 486px;background: #fff;left:0;top: 70px;line-height: 60px;display: none}
    .mobile_navbox a{display: block;padding:0 25px;}
    .mobile_navbox strong{padding-top:20px;display: block;}

    .club_mobilecardimg{float: left;margin-top:10px;}
    .club_img,
    .club_mobilecardimg .club_img{background:none;width: 253px;margin: 0}
    .club_img img,
    .club_mobilecardimg img{width:238px;height: 238px}
    .club_pointimglist li {height:auto;}
    .club_pointimglist .product-name,.club_pointimglist .product-attr {font-size:18px;}
    .club_imgtxt{width: 250px;top:75px;}
    .mobile_proinfor{float: right;width: 238px;line-height: 30px}
    .mobile_proitem {width: 520px;margin-top:50px;}
    .mobile_proinfortit{padding-top:5px;text-transform: uppercase;}
    .mobile_proinfor a{text-decoration: underline;}
    .club_giftcardcheckout{float: none;display: block;margin: 80px auto 0}
    .club_giftcard{width: 600px;}
    .club_ecoupon_center,
    .club_point{width: 580px}
    .club_ecoupon_center{padding: 0}
    .club_point table span.title {width:auto;}
    .club_point table td {padding:5px;}

    .club_meminfolist ul{float: none}
    .club_meminpwform input{float: none;display: block;margin-bottom:20px;}

    .club_login_wrap {width:auto;}
    .club_login_left {float:none;width:443px;margin:0 auto;}
    .club_login_right {float:none;width:443px;margin:20px auto 0 auto;}
    .club_login_regbtn {margin:20px 0 0 0;}

    .product-view .product-img-box {width:90%;margin:0 0 20px 5%;float:none;}
    .product-view .product-shop {float:none;width:auto;clear:both;padding:20px 0 0;margin-left:5%;}
    .product-intro {margin-left:5%;}
    .product-intro p {margin:0;}
    .product-name h1 {font-size:24px;margin-bottom:40px;}
    .product-view .link-wishlist {font-size:20px;}

    .header {height:0!important;}
    .club_ecoupon_nav_m {display:block;z-index:100;position: fixed;top:30px;left:20%;width:70%;font-size:20px;}
    .club_welcome_m {background:#000;color:#fff;font-weight:bold;height:70px;line-height:70px;padding:0 40px;}
    .club_navlist_m {display:none;background:#fff;padding:20px 0 20px 40px;color:#000;}
    .club_navlist_m.open {display:block;}
    .club_navlist_m a {display:block;margin:15px 0;}
    .club_logout_m {margin-top:40px;font-weight:bold;}

    .club_memberreg_fi_code .club_memberreg_tips {left:390px;display:block;}
    .club_memberreg_fi_code .club_login_ipt {width:200px;}
    .club_memberreg_fi_code .club_member_sub {width:184px;}
    .club_memberreg_fi .club_login_ipt_address {margin:10px 0 0 130px;}
    .club_giftcardtable {font-size:13px;}
    .add-to-links li {font-size:20px;}

    button.button span {font-size:20px;}
    .button.btn-cart span {background:none!important;border:none;}
    .error-msg, .success-msg, .note-msg, .notice-msg {font-size:14px;}
    .club_giftcardtable .remove-text {font-size:14px;}
    .form-before {padding:0;transform:scale(0.68);-moz-transform:scale(0.68);-webkit-transform:scale(0.68);-o-transform:scale(0.68);
        transform-origin:0 0;-moz-transform-origin:0 0;-webkit-transform-origin:0 0;-o-transform-origin:0 0;}

    .page_club .cart, .page_club .points_checkout {width:580px;float:none;}
    .cart .cart-collaterals {font-size:14px;}
    button.button.btn-continue span {font-size:14px;}
    #points_checkout_form .content {font-size:14px;}

    .club_bottom_nav {margin:30px 0;}
    .club_welcome_m {background:#000 url('../images/m_nav_arrow.png') no-repeat 380px center;}
    .club_login_labels {display: none;}
    .club_article_center {width:580px;}
    .reg-disable-layout {width:640px;height:666px;}
    .club_memberreg {width:600px;}
    .password-titles {display: none;}
    .club_ecoupon_com {width: 600px;overflow: hidden;}
    .club_meminfolist1 li {width: 500px;}
    .club_meminfolist2 li {width: 500px;}
    .club_meminfolist li strong {width:290px;}
    .product-intro {padding-bottom: 15px;}
    .customer_address_mobile_wrap {display:block;margin:10px 0 0 132px}
    #my-orders-table .title {display: none!important;}
    .product-shop .product-attr-name, .product-shop .attribute-title {width:142px;}
    .cart-table .product-name {display:block;float:none;clear:both;}
    .order-userinfo,.shipping-method {margin-left:120px;margin-right:120px;}
    .order-info-box h2 {font-size:18px;}
    .order-info-box .box-content label {width:160px;}
    .orderinfo {margin-left:100px;}
    .club_giftcardtable .remove-text {display:block;clear:both;}
    .club_memberreg_fi .club_login_ipt_short {width:303px;}
    .pager .pages {width:640px;overflow: hidden;}
    .pager .pages ol {padding:0;margin:0 0 0 -53px;}
    .col2-set .col-1 {width:auto;float:none;}
    .pager .jspages {margin-left:-26px;}
}
/* mobile menu part */
body.mobile,
body.mobile .mbmenu,
body.mobile.open #wrap,
body.mobile.open .header{-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease;}
body.mobile .header{left:10px;}
body.mobile .header .menu{left:5px;}
body .mbmenu{color:#000;background:#fff;left:-250px;width:250px;height:100%;top:0;z-index:1000;position:fixed;display:none;-webkit-box-shadow:inset -12px 0px 12px -14px rgba(0,0,0,0.38);-moz-box-shadow:inset -12px 0px 12px -14px rgba(0,0,0,0.38);box-shadow:inset -12px 0px 12px -14px rgba(0,0,0,0.38);}
body .mbmenu h2{font-size:30px;font-weight:bold;margin:26px 20px 10px 20px;padding-bottom:15px;cursor:pointer;display: inline-block;}
body .mbmenu li.active h2 {border-bottom:2px solid #000;}
body .mbmenu ol{list-style:none;height:0px;padding:0;overflow:hidden;}
body .mbmenu ol.active{height:auto;}
body .mbmenu ol a{display:block;padding:13px 0px 13px 20px;color:#777;font-size:25px;}
body .mbmenu ol a.active{color:#fff;background:#000;}
body.mobile{overflow-x:hidden;position:relative;left:0;}
body.mobile.open,
body.mobile.open #wrap{left:240px;}
body.mobile.open .header{left:260px;right:0;}
body.mobile.open .header .language,
body.mobile.open .header .search{display:none;}
body.mobile .mbmenu{display:block;text-transform: uppercase;}
body.mobile.open .mbmenu{left:0px;}


