<?xml version="1.0"?>
<config>
  <modules>
    <Mec_Lilylookbook>
      <version>0.2.0</version>
    </Mec_Lilylookbook>
  </modules>
  <frontend>
    <routers>
      <lilylookbook>
        <use>standard</use>
          <args>
            <module>Mec_Lilylookbook</module>
            <frontName>lilylookbook</frontName>
          </args>
      </lilylookbook>
    </routers>
		<layout>
		  <updates>
			<lilylookbook>
			  <file>lilylookbook.xml</file>
			</lilylookbook>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <lilylookbook>
        <class>Mec_Lilylookbook_Helper</class>
      </lilylookbook>
    </helpers>
	<blocks>
	  <lilylookbook>
		<class>Mec_Lilylookbook_Block</class>
	  </lilylookbook>
	</blocks>
	<models>
	  <lilylookbook>
		<class>Mec_Lilylookbook_Model</class>
		<resourceModel>lilylookbook_mysql4</resourceModel>
	  </lilylookbook>
	</models>
	<resources>
	  <categoryattribute1377487696_setup>
		<setup>
		  <module>Mec_Lilylookbook</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1377487696_setup>
	  <categoryattribute1377487696_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1377487696_write>
	  <categoryattribute1377487696_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1377487696_read>
	</resources>
  </global>
</config> 