<?xml version="1.0"?>
<config>
  <modules>
    <Mec_Lilyaddon2>
      <version>0.2.0</version>
    </Mec_Lilyaddon2>
  </modules>
  <global>
    <helpers>
      <lilyaddon2>
        <class>Mec_Lilyaddon2_Helper</class>
      </lilyaddon2>
    </helpers>
	<models>
	  <lilyaddon2>
		<class>Mec_Lilyaddon2_Model</class>
		<resourceModel>lilyaddon2_mysql4</resourceModel>
	  </lilyaddon2>
	</models>
	<resources>
	  <customerattribute1377592279_setup>
		<setup>
		  <module>Mec_Lilyaddon2</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1377592279_setup>
	  <customerattribute1377592279_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1377592279_write>
	  <customerattribute1377592279_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1377592279_read>
	</resources>
  </global>
</config> 