<?xml version="1.0"?>
<config>
  <modules>
    <Mec_Pointsadd>
      <version>0.1.0</version>
    </Mec_Pointsadd>
  </modules>
  <global>
    <helpers>
      <pointsadd>
        <class>Mec_Pointsadd_Helper</class>
      </pointsadd>
    </helpers>
	<models>
	  <pointsadd>
		<class>Mec_Pointsadd_Model</class>
		<resourceModel>pointsadd_mysql4</resourceModel>
	  </pointsadd>
	</models>
	<resources>
	  <pointsadd_setup>
		<setup>
		  <module>Mec_Pointsadd</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </pointsadd_setup>
	  <pointsadd_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </pointsadd_write>
	  <pointsadd_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </pointsadd_read>
	  <salesattribute1383633223_setup>
		<setup>
		  <module>Mec_Pointsadd</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </salesattribute1383633223_setup>
	  <salesattribute1383633223_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </salesattribute1383633223_write>
	  <salesattribute1383633223_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </salesattribute1383633223_read>
	</resources>
  </global>
</config> 