<ul id='nav'>
    <li class='item'>
        <h2>BRAND</h2>
        <ol>
            <li><a href='#index' title='index' index='1'>BRAND STORY</a></li>
            <li><a href='#milestone' title='milestone' index='2'>MILESTONE</a></li>
            <li><a href='#news' title='news' index='3'>NEWS</a></li>
        </ol>
    </li>
    <li class='item'>
        <h2>PRODUCT</h2>
        <ol>
            <li><a href='#campaign' title='campaign' index='4'>CAMPAIGN</a></li>
            <li><a href='#lookbook' title="lookbook" index='5'>LOOKBOOK</a></li>
            <li><a href='#streetshot' title="streetshot" index='6'>STREET SHOTS</a></li>
        </ol>
    </li>
    <li class='item'>
        <h2>SHOP</h2>
        <ol>
            <li><a href='#starshop' title="starshop" index='7'>STAR SHOP</a></li>
            <li><a href='#storelocator' title="storelocator" index='8'>STORE LOCATOR</a></li>
        </ol>
    </li>
    <li class='item'>
        <h2>CLUB</h2>
        <ol>
            <li><a href='javascript:;' index='9'>LILY CLUB</a></li>
            <li><a href='javascript:;' index='10'>TERMS</a></li>
            <li><a href='javascript:;' index='11'>POINT CHECKING</a></li>
            <li><a href='javascript:;' index='12'>REDEMPTION</a></li>
        </ol>
    </li>
</ul>
