<?xml version="1.0"?>
<config>
  <modules>
    <Mec_Lilystoremap>
      <version>0.1.0</version>
    </Mec_Lilystoremap>
  </modules>
  <frontend>
    <routers>
      <lilystoremap>
        <use>standard</use>
          <args>
            <module>Mec_Lilystoremap</module>
            <frontName>storemap</frontName>
          </args>
      </lilystoremap>
    </routers>
		<layout>
		  <updates>
			<lilystoremap>
			  <file>lilystoremap.xml</file>
			</lilystoremap>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <lilystoremap>
        <class>Mec_Lilystoremap_Helper</class>
      </lilystoremap>
    </helpers>
	<blocks>
	  <lilystoremap>
		<class>Mec_Lilystoremap_Block</class>
	  </lilystoremap>
	</blocks>
  </global>
</config> 