<?xml version="1.0"?>
<config>
	  <tabs>
		<mec translate="label" module="lilystoremap">
            <label>Mec</label>
            <sort_order>100</sort_order>
        </mec>
	  </tabs>
	  <sections>
		<lily_storemap  translate="label" module="lilystoremap">                    
		<label>Lily Store Map</label>
		<tab>mec</tab>
		<frontend_type>text</frontend_type>
		<sort_order>90</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>0</show_in_store>            
					<groups>
				      <general translate="label"> 
					  <label>General</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>10</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
					   </fields>
					   </general>
					</groups>
		</lily_storemap>
	  </sections>
</config>
